<!doctype html>
<html>
<head>
	<title>GPA calculator</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
	<div id=body>
		<div>
			<h1>Corona GPA Calculator</h1>
		</div>
		<div>
			<div id="grade_form">
			{% if year == "year3" or year == "year4" %}
			{% if year == "year3" %}
				{% set sections = {
						"current": {"header": "Current Grades", "count": 6}
					}
				%}
			{% elif year == "year4" %}
				{% set sections = {
						"old": {"header": "3rd Year Grades", "count": 6},
						"current": {"header": "4th Year Grades", "count": 6}
					}
				%}
			{% endif %}
				<form action="/{{ year }}" method="post" id="form">
				{% for section in sections %}
					<h2>{{ sections[section]["header"] }}</h2>
					{% for i in range(sections[section].count) %}
					<p>
						<label>Module {{ i + 1 }}:</label>
						<select id="{{ section }}_{{ i }}" name="{{ section }}_{{ i }}">
							<option value = "4.5">A+</option>
							<option value = "4">A</option>
							<option value = "3.5">B+</option>
							<option value = "3">B</option>
							<option value = "2.5">C+</option>
							<option value = "2">C</option>
							<option value = "1.5">D+</option>
							<option value = "1">D</option>
							<option value = "0.5">MF</option>
						</select>
					</p>
					{% endfor %}	
				{% endfor %}	
				<input type="hidden" id="year" name="year" value="{{ year }}"/>
				<!--input type="submit"></input-->
				</form>
				<button onclick=refresh()>Calculate</button>
			</div>
			<div id="results" class="hidden">
				<h2>Results</h2>
				<p>Your old GPA would have been <span id="old_gpa"></span> 
						averaging a <span id="old_class"></span> class degree</p>
				<p>Your new GPA would be <span id="new_gpa"></span>
						averaging a <span id="new_class"></span> class degree</p>
			</div>
		{% else %}
			<div id="year_buttons">
				<h2>Choose Your Year:</h2>
				<a href="year3">Third Year</a>
				<a href="year4">Fourth Year</a>
			</div>
			<div id="about">
				<h2>What is this?</h2>
				<p>This is a simple web app you can use to calculate your
					GPA based on the new Abertay coronavirus policy. You can find
					a more detailed explanation of what the policy actually means
					<a href="https://intranet.abertay.ac.uk/documents/forms/travel/coronaviruscovid-19/covid-19studentguidance/fairassessmentduringcovid-19/">here</a>.</p>
					
					<p>To use this site, just select your year, fill out the data,
					and hit calculate. It will then tell you what your GPA and
					degree classification would be before and after the policy
					changes. For the predicted grades, just try and guess what you
					might get for this semester.</p>

					<p>If you run into any issues while using this site feel free to
					email me at <a href="mailto:me@samiser.xyz">me@samiser.xyz</a> or
					dm me on twitter <a href="https://twitter.com/Sam1ser">@Sam1ser</a>.</p>

				<p>Also, if you're interested, the source code of this project
					can be found <a href="https://github.com/Samiser/corona-gpa-calculator">here</a>.</p>
			</div>
		{% endif %}
		</div>
	</div>
	<script>
	let update_elements = function(data) {
			document.getElementById("results").classList.remove("hidden");
			document.getElementById("old_gpa").textContent = data["old_gpa"];
			document.getElementById("old_class").textContent = data["old_class"];
			document.getElementById("new_gpa").textContent = data["new_gpa"];
			document.getElementById("new_class").textContent = data["new_class"];
	}

	let refresh = function() {
		const data = new URLSearchParams();
		for (const pair of new FormData(document.getElementById("form"))) {
			data.append(pair[0], pair[1]);
		}

		fetch("/{{year}}", {
			method: 'post',
			body: data,
		})
			.then(response => response.json())
			.then(data => update_elements(data))
	}
	</script>
</body>
</html>
