name: Build and publish Docker image

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4

      - name: Publish Docker image
        uses: samiser/nix-docker-publish@v1.0.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }} 
